<% if current_employee %>
  <p><%= t('login.success', username: current_employee.name) %></p>
  <span style="color: #007db8; font-size: 1.5em">Chào mừng bạn đến với hệ thống đánh giá 2020 của IIG-VIETNAM</span>
<% else %>
  <h3><%= t('welcome') %></h3>
  <%= link_to  t('signin'), new_employee_session_path, class: 'btn btn-large btn-success' %>
<% end %>