<h3 class="font-weight-bold">HƯỚNG DẪN ĐÁNH GIÁ NHÂN SỰ NĂM 2020</h3>
<div class="row">
  <div class="col-md-12">
    <span>Đánh giá nhân sự là hoạt động thường xuyên áp dụng đối với toàn thể Cán bộ nhân viên (CBNV) IIG Việt Nam nhằm đánh giá kết quả thực hiện công việc của phòng ban/bộ phận và các cá nhân. Dựa trên kết quả đánh giá, Ban Lãnh đạo và các Cán bộ quản lý (CBQL) có phương thức quản lý hiệu quả hơn trong việc tuyển chọn, sử dụng và phát triển nhân sự.</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <span class="font-weight-bold">Đối tượng áp dụng:</span><br>
  <span>- Áp dụng với những CBNV fulltime có thời gian công tác từ đủ 04 tháng trở lên và Part-time thường xuyên từ đủ 6 tháng trở lên. </span><br>
  <span>- Thời gian làm việc xét đánh giá tính từ 01/01/2020 - 31/12/2020</span><br>
  <span>- Bản đánh giá được thực hiện độc lập, riêng rẽ của từng cá nhân. Nghiêm cấm mọi hình thức trao đổi, tham khảo, sao chép kết quả đánh giá của nhau. Nội dung và kết quả Bản đánh giá được giữ bí mật hoàn toàn nhằm đảm bảo tính khách quan chung.</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold">Hướng dẫn chung: </span><br>
    <span class="font-weight-bold">- BƯỚC 1: </span><span>CBNV tự đánh giá kết quả thực hiện công việc theo mẫu và hướng dẫn</span><br>
    <span style="margin-left: 40px;">+ Mỗi nội dung đánh giá chỉ được chọn 1 câu trả lời duy nhất (từ 1 đến 4, </span><span class="font-weight-bold">KHÔNG CÓ ĐIỂM LẺ</span><span>).</span><br>
    <span style="margin-left: 40px;">+ Mẫu 1: Dành cho Cấp Chuyên viên - Nhân viên (Từ trưởng nhóm trở xuống)</span><br>
    <span style="margin-left: 40px;">+ Mẫu 2: Dành cho CBQL (Từ phó phòng trở lên)</span><br>
    <span class="font-weight-bold">- BƯỚC 2: </span><span>CBQL đánh giá 1 đánh giá kết quả thực hiện công việc của CBVN được đánh giá.</span><br>
    <span class="font-weight-bold">- BƯỚC 3: </span><span>CBQL đánh giá 1 trao đổi kết quả đánh giá với CBNV. Việc trao đổi 1:1 là quyền lợi của CBNV và trách nhiệm bắt buộc của CBQL. CBNV có thể ghi nhận sự đồng ý hoặc không đồng ý với kết quả đánh giá của CBQL đánh giá 1 và ghi ý kiến vào mẫu đánh giá. Trường hợp không có CBQL đánh giá 2 thì nộp kết quả đánh giá.</span><br>
    <span class="font-weight-bold">- BƯỚC 4: </span><span>CBQL đánh giá 2 thẩm định và đánh giá lại.</span><br>
    <span class="font-weight-bold">- BƯỚC 5: </span><span>Kết quả đánh giá căn cứ theo CBQL đánh giá cuối cùng: Là CBQL đánh giá 1 nếu chỉ có 1 người đánh giá, Là điểm trung bình kết quả đánh giá của CBQL đánh giá 1 và 2 nếu có 2 người đánh giá</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold">Lưu ý: </span><br>
    <span>- CBQL phải có trách nhiệm trước BGĐ cao nhất về kết quả đánh giá. Các trường hợp làm sai từ 2 lần trở lên hoặc tỉ lệ trên 30% số lượng nhân viên phải đánh giá lại lần 2 sẽ ảnh hưởng trực tiếp tới kết quả đánh giá của CBQL</span><br>
    <span>- Trường hợp sai sẽ phải làm lại.</span>
  </div>
</div>
<h3 class="font-weight-bold">HƯỚNG DẪN ĐÁNH GIÁ ĐIỂM - PHẦN DÀNH CHO MỌI CBNV (B.1 - ĐỐI VỚI CẤP CBNV)</h3>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">1</span>
    <span class="font-weight-bold">KHỐI LƯỢNG CÔNG VIỆC </span><span>(Căn cứ theo Mô tả công việc, các nhiệm vụ được giao thêm ngoài MTCV và kết quả đã thực hiện được trong năm)</span><br>
    <span style="margin-left: 30px;">1. Thực hiện dưới 70% số lượng công việc được giao</span><br>
    <span style="margin-left: 30px;">2. Thực hiện được từ 70% - 90% số lượng các công việc được giao</span><br>
    <span style="margin-left: 30px;">3. Thực hiện tương đối đủ từ 90 - 100% số lượng công việc được giao</span><br>
    <span style="margin-left: 30px;">4. Thực hiện đủ 100% số lượng công việc được giao và một phần trong số những công việc thêm khác</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">2</span>
    <span class="font-weight-bold">CHẤT LƯỢNG CÔNG VIỆC </span><span>(Là kết quả đạt được khi thực hiện các công việc được giao phải hoàn thành)</span><br>
    <span style="margin-left: 30px;">1. Kết quả công việc không đạt yêu cầu, phải làm lại nhiều lần hoặc chuyển giao cho người khác thực hiện, có thể gây ra hậu quả xấu - Thông tin cập nhật chậm, sai lệch, độ tin cậy kém</span><br>
    <span style="margin-left: 30px;">2. Kết quả hoàn thành ở mức tương đối so với yêu cầu, có 1 vài sai sót nhỏ nhưng không ảnh hưởng tới kết quả chung của Công ty - Thông tin cập nhật đáp ứng đúng yêu cầu đề ra</span><br>
    <span style="margin-left: 30px;">3. Hoàn thành công việc chính đạt yêu cầu chất lượng của người giao việc, không để xảy ra sai sót nào - Thông tin được cập nhật thường xuyên, có độ tin cậy</span><br>
    <span style="margin-left: 30px;">4. Luôn hoàn thành mọi công việc (chính và thêm) một cách an toàn, chính xác, không để xảy ra bất kỳ sai sót nào với hiệu suất, hiệu quả vượt xa yêu cầu - Mọi thông tin được cập nhật thường xuyên, độ tin cậy cao</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">3</span>
    <span class="font-weight-bold">TIẾN ĐỘ THỰC HIỆN CÔNG VIỆC </span><span>(Là thời gian hoàn thành khi thực hiện các công việc được giao)</span><br>
    <span style="margin-left: 30px;">1. Dưới 70% công việc không hoàn thành đúng tiến độ mặc dù đã được nhắc nhở, ảnh hưởng xấu tới hoạt động chung của phòng ban/Công ty</span><br>
    <span style="margin-left: 30px;">2. 70% - 90% công việc hoàn thành đúng hạn, vẫn cần sự nhắc nhở</span><br>
    <span style="margin-left: 30px;">3. 90% - 100% công việc hoàn thành đúng thời hạn với rất ít sự nhắc nhở</span><br>
    <span style="margin-left: 30px;">4. Luôn hoàn thành công việc trước thời hạn hoặc tiến độ cam kết. Báo cáo tiến độ kịp thời.</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">4</span>
    <span class="font-weight-bold">KIẾN THỨC CHUYÊN MÔN VÀ KỸ NĂNG NGHỀ NGHIỆP </span><span>(Là khả năng đáp ứng các yêu cầu cần thiết về kiến thức, kỹ năng phục vụ công việc)</span><br>
    <span style="margin-left: 30px;">1. Không nắm vững kiến thức chuyên môn cần thiết, các quy định, quy trình công việc, thường xuyên cần sự hướng dẫn</span><br>
    <span style="margin-left: 30px;">- Gặp khó khăn trong việc tiếp thu kiến thức, không tiến bộ khi được đào tạo</span><br>
    <span style="margin-left: 30px;">- Không cập nhật sự thay đổi của kiến thức, kỹ năng liên quan đến công việc</span><br>
    <span style="margin-left: 30px;">2. Nắm được kiến thức, chuyên môn cần thiết, các quy định, quy trình công việc, nhưng vẫn cần sự chỉ dẫn về thêm để hoàn thành công việc. </span><br>
    <span style="margin-left: 30px;">- Có tiếp thu cơ bản khi được chỉ dẫn, đào tạo</span><br>
    <span style="margin-left: 30px;">- Có cập nhật sự thay đổi của kiến thức, kỹ năng liên quan đến công việc nhưng không đưa ra giải pháp ứng dụng</span><br>
    <span style="margin-left: 30px;">3. Nắm vững kiến thức chuyên môn, nghiệp vụ, các quy định, quy trình công việc. Có thể làm việc tốt với rất ít sự hướng dẫn chuyên môn. - Có ý thức trong việc tự học, nắm bắt nhanh khi được hướng dẫn.</span><br>
    <span style="margin-left: 30px;">- Có cập nhật sự thay đổi của kiến thức, kỹ năng liên quan đến công việc và vận dụng để đưa ra giải pháp giải quyết công việc phát sinh</span><br>
    <span style="margin-left: 30px;">4. Nắm vững kiến thức chuyên môn, nghiệp vụ. Làm việc tốt mà không cần sự chỉ dẫn về chuyên môn. Chủ động truyền đạt kiến thức cho người khác để đạt được kết chung.</span><br>
    <span style="margin-left: 30px;">- Không ngừng học hỏi, trau dồi, nâng cao trình độ.</span><br>
    <span style="margin-left: 30px;">-Liên tục chủ động cập nhật sự thay đổi của kiến thức, kỹ năng liên quan đến công việc và vận dụng hiệu quả để đưa ra giải pháp giải quyết công việc phát sinh</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">5</span>
    <span class="font-weight-bold">MỨC ĐỘ TIN CẬY VÀ TRÁCH NHIỆM</span><br>
    <span style="margin-left: 30px;">1. Không tin tưởng khi được giao việc. Thường xuyên phải nhắc nhở và cần giám sát - Thụ động trong công việc được giao, không theo sát công việc đến cùng</span><br>
    <span style="margin-left: 30px;">2. Độ tin cậy ở mức giao phó các công việc theo đúng chức năng, cần sự giám sát, chỉ đạo - Chỉ thực hiện theo đúng bổn phận</span><br>
    <span style="margin-left: 30px;">3. Được giao phó một vài công việc chính, chủ đạo với rất ít sự giám sát - Có cố gắng, tận tâm, tự giác để hoàn thành tốt công việc được giao - Lập kế hoạch công việc, bám sát công việc đến cùng</span><br>
    <span style="margin-left: 30px;">4. Luôn được tin tưởng để giao phó những trọng trách lớn mà không cần phải giám sát thực hiện - Luôn tự chủ động và nỗ lực hoàn thành tốt công việc, vì mục tiêu chung của Công ty - Có khả năng nhìn nhận trước vấn đề, lập kế hoạch hiệu quả, quản lý công việc đến cùng</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">6</span>
    <span class="font-weight-bold">NHIỆT TÌNH, SÁNG KIẾN, SÁNG TẠO</span><br>
    <span style="margin-left: 30px;">1. Không bao giờ có sáng kiến trong công việc và cần phải có sự chỉ bảo cụ thể trong công việc</span><br>
    <span style="margin-left: 30px;">2. Thỉnh thoảng có một vài đề xuất, sáng kiến nhưng mức độ áp dụng hẹp trong bộ phận hoặc phòng ban, kết quả áp dụng chưa rõ ràng, chưa đo lường được</span><br>
    <span style="margin-left: 30px;">3. Nhiệt tình đóng góp ý kiến, đề xuất, có cải tiến quy trình làm việc, có một vài giải pháp phòng ngừa rủi ro, được áp dụng ở phạm vi phòng ban và có kết quả cụ thể</span><br>
    <span style="margin-left: 30px;">4. Nhiệt tình đóng góp ý kiến, đưa ra ý tưởng mới, cải tiến quy trình làm việc, chủ động xây dựng các giải pháp phòng ngừa rủi ro và mang lại hiệu quả tích cực đến không chỉ nội bộ phòng mà đến cả hoạt động của Công ty</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">7</span>
    <span class="font-weight-bold">TINH THẦN, THÁI ĐỘ LÀM VIỆC</span><br>
    <span style="margin-left: 30px;">1. Ỷ lại, trễ nải, thoái thác trong công việc, tác phong chậm chạp, bị động; Không thường xuyên tham gia các hoạt động tập thể của Công ty</span><br>
    <span style="margin-left: 30px;">2. Chưa chủ động thực hiện công việc theo nhiệm vụ MTCV. Chỉ thực hiện khi có chỉ đạo, giao việc của cấp trên; Tham gia các hoạt động của Công ty do được yêu cầu nhưng chưa chủ động, chưa nhiệt tình</span><br>
    <span style="margin-left: 30px;">3. Thực hiện công việc được giao và theo MTCV một cách chủ động, tự giác, khoa học, hợp lý, tác phong nhanh nhẹn, tuân thủ chỉ đạo cấp trên; Thường xuyên, nhiệt tình tham gia, xây dựng các hoạt động tập thể của Công ty</span><br>
    <span style="margin-left: 30px;">4. Luôn thực hiên công việc một cách chủ động, chuyên nghiệp, linh hoạt, nghiêm túc, tự giác cao, cầu thị, tích cực, đam mê trong công việc, đem lại hiệu quả cao; Tin tưởng và có đóng góp tích cực vào định hướng phát triển của Công ty. Chủ động thực hiện các mục tiêu văn hóa công ty, có đóng góp cho việc phát triển văn hóa Công ty. Tích cực tham gia tổ chức các hoạt động của Công ty và có khả năng truyền nhiệt huyết, động lực cho mọi người.</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">8</span>
    <span class="font-weight-bold">KỸ NĂNG GIAO TIẾP - HỖ TRỢ HỢP TÁC</span><br>
    <span style="margin-left: 30px;">1. Giao tiếp, ứng xử thiếu thân thiện, xảy ra xung đột, có phản hồi không tốt từ đồng nghiệp/khách hàng. Bất hợp tác trong mọi tình huống</span><br>
    <span style="margin-left: 30px;">2. Giao tiếp, ứng xử thân thiện nhưng chỉ giao tiếp với cấp trên, cấp dưới, đồng nghiệp, khách hàng, đối tác khi có công việc, chưa xây dựng được mối quan hệ hợp tác, vẫn cần sự hỗ trợ của cấp trên trong việc giao tiếp, điều phối công việc & ngoại giao</span><br>
    <span style="margin-left: 30px;">3. Có ý thức trong việc xây dựng các mối quan hệ với cấp trên, cấp dưới, đồng nghiệp, khách hàng, đối tác giúp hỗ trợ thực hiện công việc. Giao tiếp, ứng xử tốt, thân thiện, cởi mở. Sẵn sàng hợp tác, hỗ trợ khi cần thiết</span><br>
    <span style="margin-left: 30px;">4. Chủ động trong việc xây dựng mối quan hệ đối với cấp trên, cấp dưới, đồng nghiệp, khách hàng, đối tác, giúp hỗ trợ thực hiện hiệu quả công việc và tạo tác phong chuyên nghiệp, tự tin. Chủ động hợp tác, chia sẻ kiến thức, kinh nghiệm. Sẵn sàng hỗ trợ cấp trên hoàn thành nhiệm vụ chung của phòng ban/bộ phận.</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">9</span>
    <span class="font-weight-bold">TIẾT KIỆM - GIỮ GÌN TÀI SẢN VÀ VỆ SINH CHUNG</span><br>
    <span style="margin-left: 30px;">1. Chưa có ý thức, thường xuyên bị nhắc nhở về việc tiết kiệm (tài sản, công cụ dụng cụ, điện nước…), giữ gìn vệ sinh văn phòng & có phản ứng hoặc bất hợp tác khi được nhắc nhở</span><br>
    <span style="margin-left: 30px;">2. Có ý thức về việc tiết kiệm (tài sản, công cụ dụng cụ, điện nước…), giữ gìn vệ sinh văn phòng , vẫn cần sự nhắc nhở</span><br>
    <span style="margin-left: 30px;">3. Chủ động thực hiện tốt việc tiết kiệm (tài sản, công cụ dụng cụ, điện nước…) và giữ gìn vệ sinh chung</span><br>
    <span style="margin-left: 30px;">4. Luôn nêu gương hoặc chủ động nhắc nhở người khác trong việc tiết kiệm, giữ gìn vệ sinh chung cho Công ty</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">10</span>
    <span class="font-weight-bold">CHẤP HÀNH NỘI QUY-QUY ĐỊNH CÔNG TY</span><br>
    <span style="margin-left: 30px;">1. Vi phạm ở mức độ cảnh cáo bằng văn bản trở lên hoặc có từ 3 lần vi phạm bị phạt tiền trở lên</span><br>
    <span style="margin-left: 30px;">2. Chỉ bị vi phạm ở mức độ nhắc nhở hoặc có vi phạm bị phạt tiền đi muộn, nghỉ không lương, nghỉ đột xuất từ 3 trở xuống</span><br>
    <span style="margin-left: 30px;">3. Không vi phạm đi muộn, nghỉ đột xuất, nghỉ không lương và các nội quy, quy định khác của Công ty.</span><br>
    <span style="margin-left: 30px;">4. Không vi phạm đi muộn, nghỉ đột xuất, nghỉ không lương và các nội quy, quy định khác của Công ty, nhắc nhở người khác thực hiện nghiêm túc nội quym quy định của công ty</span>
  </div>
</div>
<h3 class="font-weight-bold">D. ĐỊNH HƯỚNG / ĐỀ XUẤT / KIẾN NGHỊ / ĐÓNG GÓP Ý KIẾN</h3>
<div class="row">
  <div class="col-md-12">
    <span style="margin-left: 30px;">Là nội dung CBNV được quyền tự do thể hiện định hướng phát triển của bản thân, đề xuất, kiến nghị hay đóng góp mọi ý kiến phản ánh về mọi vấn đề liên quan đến công việc, ban lãnh đạo, cán bộ quản lý, đồng nghiệp, cấp dưới, về chính sách, chế độ của Công ty...</span><br>
    <span style="margin-left: 30px;">Công ty luôn khuyến khích CBNV có những đóng góp tích cực vì mục đích phát triển chung của toàn Công ty, trong đó bao gồm cả lợi ích của từng cá nhân.</span><br>
    <span style="margin-left: 30px;">Đây cũng là nội dung để xem xét tính tích cực và nghiêm túc của CBNV. Trong một số trường hợp sẽ quyết định điểm đánh giá tăng thêm hoặc giảm xuống của CBNV.</span>
  </div>
</div>
