<h3 class="font-weight-bold">HƯỚNG DẪN SỬ DỤNG HỆ THỐNG ĐÁNH GIÁ NHÂN SỰ NĂM 2020</h3>
<div class="row">
  <div class="col-md-12">
    <span>Truy cập dịch vụ: </span><a href="https://testsse.iigvietnam.com/" target="_blank">https://testsse.iigvietnam.com/</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span>Đăng nhập:</span>
  </div>
</div>