<h3>HƯỚNG DẪN ĐÁNH GIÁ NHÂN SỰ NĂM 2020</h3>
<div class="row">
  <div class="col-md-12">
    <span>Đánh giá nhân sự là hoạt động thường xuyên áp dụng đối với toàn thể Cán bộ nhân viên (CBNV) IIG Việt Nam nhằm đánh giá kết quả thực hiện công việc của phòng ban/bộ phận và các cá nhân. Dựa trên kết quả đánh giá, Ban Lãnh đạo và các Cán bộ quản lý (CBQL) có phương thức quản lý hiệu quả hơn trong việc tuyển chọn, sử dụng và phát triển nhân sự.</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <span class="font-weight-bold">Đối tượng áp dụng:</span>
  <span>Áp dụng với những CBNV fulltime có thời gian công tác từ đủ 04 tháng trở lên và Part-time thường xuyên từ đủ 6 tháng trở lên. 
  Thời gian làm việc xét đánh giá tính từ 01/01/2020 - 31/12/2020
  Bản đánh giá được thực hiện độc lập, riêng rẽ của từng cá nhân. Nghiêm cấm mọi hình thức trao đổi, tham khảo, sao chép kết quả đánh giá của nhau. Nội dung và kết quả Bản đánh giá được giữ bí mật hoàn toàn nhằm đảm bảo tính khách quan chung.</span>
  </div>
</div>