<h3 class="font-weight-bold">HƯỚNG DẪN ĐÁNH GIÁ NHÂN SỰ NĂM 2020</h3>
<div class="row">
  <div class="col-md-12">
    <span>Đánh giá nhân sự là hoạt động thường xuyên áp dụng đối với toàn thể Cán bộ nhân viên (CBNV) IIG Việt Nam nhằm đánh giá kết quả thực hiện công việc của phòng ban/bộ phận và các cá nhân. Dựa trên kết quả đánh giá, Ban Lãnh đạo và các Cán bộ quản lý (CBQL) có phương thức quản lý hiệu quả hơn trong việc tuyển chọn, sử dụng và phát triển nhân sự.</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <span class="font-weight-bold">Đối tượng áp dụng:</span><br>
  <span>- Áp dụng với những CBNV fulltime có thời gian công tác từ đủ 04 tháng trở lên và </span><span>Part-time thường xuyên từ đủ 6 tháng trở lên. </span><br>
  <span>- Thời gian làm việc xét đánh giá tính từ 01/01/2020 - 31/12/2020</span><br>
  <span>- Bản đánh giá được thực hiện độc lập, riêng rẽ của từng cá nhân. Nghiêm cấm mọi hình thức trao đổi, tham khảo, sao chép kết quả đánh giá của nhau. Nội dung và kết quả Bản đánh giá được giữ bí mật hoàn toàn nhằm đảm bảo tính khách quan chung.</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold">Hướng dẫn chung: </span><br>
    <span class="font-weight-bold">- BƯỚC 1: </span><span>CBNV tự đánh giá kết quả thực hiện công việc theo mẫu và hướng dẫn</span><br>
    <span style="margin-left: 40px;">+ Mỗi nội dung đánh giá chỉ được chọn 1 câu trả lời duy nhất (từ 1 đến 4, </span><span class="font-weight-bold">KHÔNG CÓ ĐIỂM LẺ</span><span>).</span><br>
    <span style="margin-left: 40px;">+ Mẫu 1: Dành cho Cấp Chuyên viên - Nhân viên (Từ trưởng nhóm trở xuống)</span><br>
    <span style="margin-left: 40px;">+ Mẫu 2: Dành cho CBQL (Từ phó phòng trở lên)</span><br>
    <span class="font-weight-bold">- BƯỚC 2: </span><span>CBQL đánh giá 1 đánh giá kết quả thực hiện công việc của CBVN được đánh giá.</span><br>
    <span class="font-weight-bold">- BƯỚC 3: </span><span>CBQL đánh giá 1 trao đổi kết quả đánh giá với CBNV. Việc trao đổi 1:1 là quyền lợi của CBNV và trách nhiệm bắt buộc của CBQL. CBNV có thể ghi nhận sự đồng ý hoặc không đồng ý với kết quả đánh giá của CBQL đánh giá 1 và ghi ý kiến vào mẫu đánh giá. Trường hợp không có CBQL đánh giá 2 thì nộp kết quả đánh giá.</span><br>
    <span class="font-weight-bold">- BƯỚC 4: </span><span>CBQL đánh giá 2 thẩm định và đánh giá lại.</span><br>
    <span class="font-weight-bold">- BƯỚC 5: </span><span>Kết quả đánh giá căn cứ theo CBQL đánh giá cuối cùng: Là CBQL đánh giá 1 nếu chỉ có 1 người đánh giá, Là điểm trung bình kết quả đánh giá của CBQL đánh giá 1 và 2 nếu có 2 người đánh giá</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold">Lưu ý: </span><br>
    <span>- CBQL phải có trách nhiệm trước BGĐ cao nhất về kết quả đánh giá. Các trường hợp làm sai từ 2 lần trở lên hoặc tỉ lệ trên 30% số lượng nhân viên phải đánh giá lại lần 2 sẽ ảnh hưởng trực tiếp tới kết quả đánh giá của CBQL</span><br>
    <span>- Trường hợp sai sẽ phải làm lại.</span>
  </div>
</div>
<h3 class="font-weight-bold">HƯỚNG DẪN ĐÁNH GIÁ ĐIỂM -  ĐỐI VỚI CẤP CBQL</h3>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">1</span>
    <span class="font-weight-bold">KỸ NĂNG LẬP KẾ HOẠCH</span><br>
    <span style="margin-left: 30px;">1. Không có kế hoạch cụ thể hoặc kế hoạch không khả thi (không nộp được kế hoạch hoặc báo cáo thực hiện kế hoạch từ 2 lần trở lên)</span><br>
    <span style="margin-left: 30px;">2. Có kế hoạch nhưng vẫn cần hướng dẫn và chỉ đạo của cấp trên để thực hiện. Có một số công việc phải xử lý gấp hoặc trễ deadline</span><br>
    <span style="margin-left: 30px;">3. Thường xuyên lập kế hoạch công việc và bám sát mục tiêu, kế hoạch mang tính khả thi cao, ít điều chỉnh</span><br>
    <span style="margin-left: 30px;">4. Kế hoạch hiệu quả và đưa ra các phương án giải quyết các vấn đề phát sinh mang tính khả thi cao</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">2</span>
    <span class="font-weight-bold">KỸ NĂNG QUẢN LÝ, PHÂN CÔNG VÀ KIỂM SOÁT CÔNG VIỆC</span><br>
    <span style="margin-left: 30px;">1. Quản lý công việc chưa tốt, phân chia công việc chưa hợp lý (chồng chéo hoặc thiếu sót, không đúng người đúng việc), không theo sát tiến trình công việc. Chưa chủ động trong việc điều hành và sử dụng nhân sự</span><br>
    <span style="margin-left: 30px;">2. Đã biết quản lý công việc, phân công và kiểm soát công việc, tuy nhiên vẫn cần phải có sự chỉ đạo và hướng dẫn thêm.  Vẫn có một số vấn đề trong việc điều hành và sử dụng nhân sự</span><br>
    <span style="margin-left: 30px;">3. Quản lý, phân công và kiểm soát công việc tốt đáp ứng mục tiêu đặt ra. Điều hành và sử dụng nhân sự hiệu quả</span><br>
    <span style="margin-left: 30px;">4. Chủ động quản lý, phân công và kiểm soát chặt chẽ mọi công việc vượt mục tiêu mong đợi. Điều hành và sử dụng nhân sự đạt hiệu quả cao</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">3</span>
    <span class="font-weight-bold">KỸ NĂNG XỬ LÝ VẤN ĐỀ PHÁT SINH VÀ RA QUYẾT ĐỊNH </span><span>(Là khả năng ứng phó với sự thay đổi và các tình huống phát sinh)</span><br>
    <span style="margin-left: 30px;">1. Phản ứng chậm với các vấn đề phát sinh, phụ thuộc hoàn toàn vào chỉ đạo của cấp trên</span><br>
    <span style="margin-left: 30px;">2. Tiếp nhận vấn đề phát sinh và ra quyết định ở mức cơ bản nhưng vẫn cần hướng dẫn và chỉ đạo của cấp trên</span><br>
    <span style="margin-left: 30px;">3. Có khả năng nhận định và đánh giá vấn đề. Xem xét, phân tích và đưa ra quyết định phù hợp</span><br>
    <span style="margin-left: 30px;">4. Phản ứng và ra quyết định nhanh chóng, chuẩn xác</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">4</span>
    <span class="font-weight-bold">KỸ NĂNG XÂY DỰNG ĐỘI NHÓM - THÚC ĐẨY, ĐỊNH HƯỚNG VÀ ĐÀO TẠO NHÂN VIÊN </span><span>(Là khả năng đánh giá điểm mạnh, điểm yếu đồng thời đưa ra động viên, khích lệ và định hướng, đào tạo phát triển cho nhân viên cấp dưới hoàn thành nhiệm vụ và hướng tới mục tiêu chung)</span><br>
    <span style="margin-left: 30px;">1. Chưa chủ động xây dựng và phát triển cơ cấu tổ chức của phòng ban/bộ phận phù hợp với sự phát triển của Công ty. Không có sự thúc đẩy, tạo động lực và định hướng, đào tạo cho nhân viên trong quá trình làm việc. Phát sinh những vấn đề về bộ máy vận hành</span><br>
    <span style="margin-left: 30px;">2. Cần hỗ trợ trong việc xây dựng và phát triển cơ cấu tổ chức của phòng ban/bộ phận phù hợp với sự phát triển của Công ty, vận hành bộ máy. Có nhưng không thường xuyên động viên, chỉ dẫn và định hướng, đào tạo cho nhân viên.</span><br>
    <span style="margin-left: 30px;">3. Có ý thức xây dựng và phát triển cơ cấu tổ chức của phòng ban/bộ phận phù hợp với sự phát triển của Công ty. Vận hành ổn định bộ máy, thường xuyên tiếp cận, thúc đẩy và định hướng, đào tạo cho nhân viên</span><br>
    <span style="margin-left: 30px;">4. Chủ động xây dựng và phát triển cơ cấu tổ chức của phòng ban/bộ phận phù hợp với sự phát triển của Công ty. Vận hành hiệu quả bộ máy, thúc đẩy và định hướng, đào tạo cho nhân viên đem lại hiệu quả rõ rệt. Chủ động xây dựng, thực hiện và triển khai kế hoạch phát triển cán bộ nguồn.</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="font-weight-bold" style="margin-right: 20px;">5</span>
    <span class="font-weight-bold">KIỂM SOÁT RỦI RO</span><br>
    <span style="margin-left: 30px;">1. Không tự kiểm soát được rủi ro trong công việc chuyên môn của phòng, phụ thuộc vào sự chỉ đạo của cấp trên</span><br>
    <span style="margin-left: 30px;">2. Có thể nhìn thấy một vài rủi ro trong công việc, nhưng không chủ động đề xuất giải pháp hoặc thực hiện các biện pháp phòng ngừa</span><br>
    <span style="margin-left: 30px;">3. Có khả năng nhận định và đánh giá mức độ rủi ro, tổn thất trong công việc chuyên môn của phòng. Thực hiện các biện pháp phòng ngừa và không gây tổn thất gì</span><br>
    <span style="margin-left: 30px;">4. Chủ động kiểm soát rủi ro thường xuyên trong công việc chuyên môn của phòng và có đề xuất, tham mưu cho cấp trên về rủi ro chung của công ty hoặc các bộ phận/phòng ban khác khi phối hợp</span>
  </div>
</div>
<h3 class="font-weight-bold">D. ĐỊNH HƯỚNG / ĐỀ XUẤT / KIẾN NGHỊ / ĐÓNG GÓP Ý KIẾN</h3>
<div class="row">
  <div class="col-md-12">
    <span style="margin-left: 30px;">Là nội dung CBNV được quyền tự do thể hiện định hướng phát triển của bản thân, đề xuất, kiến nghị hay đóng góp mọi ý kiến phản ánh về mọi vấn đề liên quan đến công việc, ban lãnh đạo, cán bộ quản lý, đồng nghiệp, cấp dưới, về chính sách, chế độ của Công ty...</span><br>
    <span style="margin-left: 30px;">Công ty luôn khuyến khích CBNV có những đóng góp tích cực vì mục đích phát triển chung của toàn Công ty, trong đó bao gồm cả lợi ích của từng cá nhân.</span><br>
    <span style="margin-left: 30px;">Đây cũng là nội dung để xem xét tính tích cực và nghiêm túc của CBNV. Trong một số trường hợp sẽ quyết định điểm đánh giá tăng thêm hoặc giảm xuống của CBNV.</span>
  </div>
</div>
